<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="workspace-pinned-feed" value="..\..\work\dependencies\feed" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="..\..\work\terraria-runtime\nuget-packages" />
  </config>
</configuration>
